*.engine filter=lfs diff=lfs merge=lfs -text
trt_ros/network_config/thermal_sep10.engine filter=lfs diff=lfs merge=lfs -text
trt_ros/network_config/sep20_7cls_1batch.engine filter=lfs diff=lfs merge=lfs -text
